################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dashboard.slnx/config
/.vs/dashboard.slnx/DesignTimeBuild
/.vs/dashboard.slnx/FileContentIndex
*.v2
/.vs/dashboard.slnx/v18/.suo
*.json
/.vs/dashboard.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/bin/Debug/net10.0/dashboard.dll
*.exe
/bin/Debug/net10.0/dashboard.pdb
/bin/Debug/net10.0/dashboard.staticwebassets.endpoints.json
/bin/Debug/net10.0/dashboard.staticwebassets.runtime.json
*.gz
/obj/Debug/net10.0/ref/dashboard.dll
/obj/Debug/net10.0/refint/dashboard.dll
/obj/Debug/net10.0/dashboard.AssemblyInfo.cs
/obj/Debug/net10.0/dashboard.AssemblyInfoInputs.cache
*.BuildWithSkipAnalyzers
/obj/Debug/net10.0/dashboard.assets.cache
/obj/Debug/net10.0/dashboard.csproj.CoreCompileInputs.cache
/obj/Debug/net10.0/dashboard.csproj.FileListAbsolute.txt
/obj/Debug/net10.0/dashboard.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net10.0/dashboard.dll
/obj/Debug/net10.0/dashboard.genruntimeconfig.cache
/obj/Debug/net10.0/dashboard.pdb
/obj/Debug/net10.0/dashboard.sourcelink.json
/obj/Debug/net10.0/rbcswa.dswa.cache.json
/obj/Debug/net10.0/rjimswa.dswa.cache.json
/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/obj/Debug/net10.0/rpswa.dswa.cache.json
/obj/Debug/net10.0/staticwebassets.build.json
/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/obj/Debug/net10.0/staticwebassets.build.json.cache
/obj/Debug/net10.0/staticwebassets.development.json
*.txt
*.cs
*.cache
*.editorconfig
/obj/dashboard.csproj.nuget.g.props
/obj/dashboard.csproj.nuget.dgspec.json
/obj/project.nuget.cache
/obj/project.assets.json
