@page
@model dashboard.Pages.ExtCompList
@{
    ViewData["Title"] = "List of external companies";
}

<div class="w-screen p-[20px]">
    <h1 class="font-bold mb-3">List of duplicate ip adresses (split per service):</h1>
    <div>
        @foreach(var ip in Model.DuplicateIps){
            <div>
                <div class="rounded-md bg-gray-300 p-3 mb-3 flex justify-between w-full mr-4">
                    <p>IP: @ip.Ip</p>
                    <p>Amount: @ip.Amount</p>
                    <p>Service: @ip.Service</p>
                    <p>Customer ID: @ip.Users[0]</p>
                </div>
            </div>
        }
    </div>
</div>