@page
@model IndexModel

@{
}
<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>

<div class="w-screen">
    <div class="m-[50px]">
        <p>compares between external and internal customers</p>
        <p>internal customers</p>
        <p class="bg-sky-300"> @Model.InternalPercent %</p>
        <p>external customers</p>
        <p class="bg-green-300">  @Model.ExternalPercent %</p>
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>